/* UTILITY CLASSES */

body {
	font-family: "Roboto", sans-serif;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

/* Background Colors */

.ruby-red {
	background-color: #9a031e;
}
.sinopia {
	background-color: #cb4721;
}
.princeton-orange {
	background-color: #ef781c;
}
.st-patricks-blue {
	background-color: #302a74;
}
.robin-egg-blue {
	background-color: #29caca;
}
.turquoise-blue {
	background-color: #26ffe6;
}
.turquoise-blue-light {
	background-color: #6bffee;
}

.azure {
	background-color: #3a86ff;
}

.winter-sky {
	background-color: #ff006e;
}

.neon-green{
	background-color: #4dec38;
}

.mango {
	background-color: #FFBE0B;
}

.orange-pantone {
	background-color: #FB5607;
}

/* Text Colors */
.ruby-red-text {
	color: #9a031e;
}
.sinopia-text {
	color: #cb4721;
}
.princeton-orange-text {
	color: #ef781c;
}
.st-patricks-blue-text {
	color: #302a74;
}
.robin-egg-blue-text {
	color: #29caca;
}
.turquoise-blue-text {
	color: #26ffe6;
}

.azure-text {
	color: #3a86ff;
}

.winter-sky-text {
	color: #ff006e;
}

.neon-green-text{
	color: #4dec38;
}

/* Google Fonts */

.roboto-text {
	font-family: "Roboto", sans-serif;
}

.tourney-text {
	font-family: "Tourney", cursive;
}

/* FLASH MESSAGES */

.flashes h4 {
	line-height: 2;
}

/* ICONS */

.material-icons .md-48 {
	font-size: 60px !important;
}

/* Customise Materialize default input settings */
/* label color */
.input-field label {
	color: #000;
}
/* label focus color */
.input-field input[type="text"]:focus + label {
	color: #ff006e;
}
/* label underline focus color */
.input-field input[type="text"]:focus {
	border-bottom: 1px solid #444;
	box-shadow: 0 1px 0 0 #444;
}


/* icon prefix focus color */
.input-field .prefix.active {
	color: #2d2e83;
}
