/* UTILITY CLASSES */

body {
	margin: 0;
	font-family: "Roboto", sans-serif !important;
	box-sizing: border-box;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

/* Background Colors */

.st-patricks-blue {
	background-color: #302a74;
}

.azure {
	background-color: #3a86ff;
}

.winter-sky {
	background-color: #ff006e;
}

.neon-green {
	background-color: #4dec38;
}

.mango {
	background-color: #ffbe0b;
}

.orange-pantone {
	background-color: #fb5607;
}

.little-boy-blue {
	background-color: #6ba4ff;
}

.brilliant-rose {
	background-color: #ff5ca3;
}

/* Text Colors */

.azure-text {
	color: #3a86ff;
}

.winter-sky-text {
	color: #ff006e;
}

/* Google Fonts */

.roboto-text {
	font-family: "Roboto", sans-serif;
}

.tourney-text {
	font-family: "Tourney", cursive;
}
/* END UTILITY CLASSES */

/* FLASH MESSAGES */
/* Code below written with reference to: 
	https://codepen.io/sugimo/pen/DgLty 
 	https://css-tricks.com/snippets/css/keyframe-animation-syntax/ */


#flashes {
	width: 100%;
	height: auto;
	position: relative;
}

.message {
	display: block;
	font-size: 25px;
	line-height: 2;
	position: absolute;
	padding: 8px;
	top: 0;
	left: 60%;
	margin-left: 100px;
	box-sizing: border-box;
	border-radius: 15px;
	background-color: #ffbe0b;
	color: #302a74;
}

.flash-style {
	animation: flashIn 0.5s, flashOut 0.5s 3.5s;
	animation-iteration-count: 5s;
	animation-fill-mode: forwards;
}

@keyframes flashIn {
    from {top: 0; opacity: 0;}
    to {top: 10px; opacity: 1;}
}

@keyframes flashOut {
    from {top: 10px; opacity: 1;}
    to {top: 0; opacity: 0;}
} 


/* NAVIGATION */

nav ul a {
	font-size: 1.4rem;
}

/* MOBILE NAVIGATION DROPDOWN */

#mobile-demo a {
	font-size: 16px;
	font-weight: 900;
	color: #000;
}

#mobile-demo a:hover {
	color: #fff;
	background-color: rgba(255, 92, 163, 0.5);
}

/* HOME PAGE */

.hero-image {
	background: linear-gradient(rgba(3, 47, 77, 0.4), rgba(0, 0, 0, 0.9)),
		url(/static/images/dive-unsplash.jpg) no-repeat center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	height: 100vh;
	background-attachment: fixed;
	max-width: 100%;
	height: auto;
}

/* Overide Materialize default margin on H1 to help push hero image up */

header h1 {
	margin-top: 0;
}

/* FOOTER */

#footer-container {
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
	padding: 8px 0;
}

.footer-icons li {
	display: inline-block;
	font-size: 16px;
	padding: 0px 6px;
}

.footer-menu li {
	display: inline-block;
	font-size: 20px;
	padding: 0px 12px;
}

.copyright {
	font-size: 16px;
	margin-top: 4px;
}

/* CARD TITLES - SEARCH SETS PAGE */

.card-content {
	font-weight: 900;
}

/* SEARCH BAR */

#search-bar span {
	font-size: 18px;
	font-family: "Roboto", sans-serif !important;
}

/* ICONS */

.material-icons .md-48 {
	font-size: 60px !important;
}

/* Display additional admin icons */
#admin-icons {
	display: inline-flex;
}

/* CUSTOMISE DEFAULT FORM INPUT SETTINGS */

/* label color */
.input-field label {
	color: #000;
	font-size: 16px;
}

/* icon prefix focus color */
.input-field .prefix.active {
	color: #2d2e83;
}

/* Code Snippet: https://github.com/Dogfalo/materialize/issues/192 */
textarea:focus {
	border-bottom: 1px solid #444 !important;
	-webkit-box-shadow: 0 1px 0 0 #444 !important;
	-moz-box-shadow: 0 1px 0 0 #444 !important;
	box-shadow: 0 1px 0 0 #444 !important;
}

textarea:valid {
	border-bottom: 1px solid #4dec38 !important;
	-webkit-box-shadow: 0 1px 0 0 #4dec38 !important;
	-moz-box-shadow: 0 1px 0 0 #4dec38 !important;
	box-shadow: 0 1px 0 0 #4dec38 !important;
}

textarea:invalid {
	border-bottom: 1.5px solid #ff006e !important;
	-webkit-box-shadow: 0 1.5px 0 0 #ff006e !important;
	-moz-box-shadow: 0 1.5px 0 0 #ff006e !important;
	box-shadow: 0 1.5px 0 0 #ff006e !important;
}

input:focus {
	border-bottom: 1px solid #444 !important;
	-webkit-box-shadow: 0 1px 0 0 #444 !important;
	-moz-box-shadow: 0 1px 0 0 #444 !important;
	box-shadow: 0 1px 0 0 #444 !important;
}

input:valid {
	border-bottom: 1px solid #4dec38 !important;
	-webkit-box-shadow: 0 1px 0 0 #4dec38 !important;
	-moz-box-shadow: 0 1px 0 0 #4dec38 !important;
	box-shadow: 0 1px 0 0 #4dec38 !important;
}

input:invalid {
	border-bottom: 1.5px solid #ff006e !important;
	-webkit-box-shadow: 0 1.5px 0 0 #ff006e !important;
	-moz-box-shadow: 0 1.5px 0 0 #ff006e !important;
	box-shadow: 0 1.5px 0 0 #ff006e !important;
}
/* // Code Snippet: https://github.com/Dogfalo/materialize/issues/192 */

/* CUSTOM STYLING DROPDOWN IN FORM */
/* Style 'Select Category' black */

#select-options-5e212ba4-8769-773c-e484-23cad7144ed40 > span {
	color: #000 !important;
}

/* Style all other categories in dropdown. The following also gets applied to the NAV DROPDOWN MENU */

.dropdown-content li > a,
.dropdown-content li > span {
	color: #ff006e;
	font-weight: 900;
	font-size: 1.4rem;
}

/* Override materialize classes to accommodate dynamically added input fields. When added, new input fields throw alignment out */

.col .row {
	margin-left: 0;
	margin-right: 0;
}

.row:not(:last-of-type) {
	margin-bottom: 10px;
}
