{% extends "base.html" %} 
{% block title %}MySwim - Add Set{% endblock %}
{% block content %}

<div class="container">
	<!-- Page Intro Card -->
	<div class="row mt3">
		<div class="col s12 m8 l8 offset-l2 offset-m2 card-panel brilliant-rose">
			<h2 class="white-text tourney-text fw5 center-align pa2-l f1-l f2-m f3">
				Add Set
			</h2>
		</div>
	</div>

	<div class="row">
		<form class="col s12" method="POST" action="{{ url_for('add_set') }}">
			<!-- Set Name -->
			<div class="row">
				<div class="input-field col s12">
					<i class="fas fa-pencil-alt fa-3x prefix azure-text"></i>
					<input
						id="set_name"
						name="set_name"
						type="text"
						class="validate"
						required
					/>
					<label for="set_name" class="">Set Name</label>
				</div>
			</div>

			<!-- Select Category -->
			<div class="row">
				<div class="input-field col s12">
					<i class="fas fa-folder-open fa-3x prefix azure-text"></i>
					<select
						id="category_name"
						name="category_name"
						class="validate"
						required
					>
						<option value="" disabled selected>Select Category</option>
						<!-- Iterate over categories in DB -->
						{% for category in categories if not category.category_name == "Unassigned" %}
                            <option value="{{ category.category_name }}">
                                {{- category.category_name|title -}}
                            </option>
						{% endfor %}
						<!-- // Iterate over categories in DB -->
					</select>
					<label for="category_name" class=""></label>
				</div>
			</div>

			<!-- Warm Up -->
			<div class="row">
				<div class="input-field col s12">
					<i class="fas fa-swimming-pool fa-3x prefix azure-text"></i>
					<textarea
						id="warm_up"
						name="warm_up"
						class="materialize-textarea validate"
						required
					></textarea>
					<label for="warm_up">Warm Up</label>
				</div>
			</div>

			<!-- Pre Set -->

			<div class="row" id="new-field1">
				<div class="input-field col s12">
					<i class="fas fa-swimmer fa-3x prefix azure-text"></i>
					<input
						type="text"
						id="pre_set"
						name="pre_set"
						class="validate"
						required
					/>
					<label for="pre_set">Pre Set</label>
				</div>
			</div>

			<!-- Add button for dynamically added input fields (pre-set)-->
			<div class="row center-align">
				<div class="col s12">
					<input
						type="button"
						value="Add Entry"
						id="add1"
						class="btn-small neon-green"
						aria-label="add new entry button"
					/>
				</div>
			</div>

			<!-- Main Set -->
			<div class="row" id="new-field2">
				<div class="input-field col s12">
					<i class="fas fa-swimmer fa-3x prefix azure-text"></i>
					<input id="main_set" name="main_set" class="validate" required />
					<label for="main_set">Main Set</label>
				</div>
			</div>

			<!-- Add button for dynamically added input fields (main-set)-->
			<div class="row center-align">
				<div class="col s12">
					<input
						type="button"
						value="Add Entry"
						id="add2"
						class="btn-small neon-green"
						aria-label="add new entry button"
					/>
				</div>
			</div>

			<!-- Cool Down -->
			<div class="row">
				<div class="input-field col s12">
					<i class="far fa-thumbs-up fa-3x prefix azure-text"></i>
					<textarea
						id="cool_down"
						name="cool_down"
						class="materialize-textarea validate"
						required
					></textarea>
					<label for="cool_down">Cool Down</label>
				</div>
			</div>

			<!-- Total km -->
			<div class="row">
				<div class="input-field col s12">
					<i class="fas fa-tachometer-alt fa-3x prefix azure-text"></i>
					<textarea
						id="total_km"
						name="total_km"
						class="materialize-textarea validate"
						required
					></textarea>
					<label for="total_km">Distance (km)</label>
				</div>
			</div>

			<!-- Add or Cancel Buttons -->
			<div class="row center-align">
				<div class="col s6 right-align">
					<a
						href="{{ url_for('get_sets') }}"
						class="btn-large winter-sky"
						aria-label="cancel submit button"
					>
						Cancel <i class="fas fa-times-circle right"></i>
					</a>
				</div>
				<div class="col s6 left-align">
					<button
						type="submit"
						class="btn-large neon-green"
						aria-label="submit form button"
					>
						Submit <i class="fas fa-plus-circle right"></i>
					</button>
				</div>
			</div>
		</form>
	</div>
</div>
{% endblock %}