<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Tourney&display=swap"
			rel="stylesheet"
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
			integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
			type="text/css"
		/>
		<link
			href="https://fonts.googleapis.com/icon?family=Material+Icons"
			rel="stylesheet"
			type="text/css"
		/>
		<link
			rel="stylesheet"
			href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css"
			type="text/css"
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
			type="text/css"
		/>
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='css/style.css')}}"
			type="text/css"
		/>
		{% block styles %} {% endblock %}

		<title>MySwim</title>
	</head>
	<body>
		<header>

			<!-- Dropdown Menu for Profile (Logged in users) -->

			<ul id="dropdown1" class="dropdown-content">
				<li><a href="{{ url_for('profile', username=session['user']) }}">View</a></li>

				<li><a href="{{ url_for('add_set') }}">New Swim</a></li>

				<!-- If admin, show Manage Content -->
				<!-- Call get_categories function -->
				{% if session.user|lower == "admin"|lower %}
					<li><a href="{{ url_for('get_categories') }}">Manage Content</a></li>
				{% endif %}

				<li class="divider"></li>
				<li><a href="{{ url_for('logout') }}">Log Out</a></li>
			</ul>
	

			<!-- Main Navigation -->
			<nav class="">
				<div class="nav-wrapper azure">
					
					<!-- Call get_sets function -->
					<a href="{{ url_for('get_sets') }}" class="brand-logo tourney-text ml3"
						>MySwim</a
					>
					<a href="#" data-target="mobile-demo" class="sidenav-trigger right"
						><i class="fas fa-bars"></i
					></a>
					<ul class="right hide-on-med-and-down">
						<li><a href="{{ url_for('get_sets') }}">Home</a></li>
						
						<!-- If logged in show below links -->
						{% if session.user %}
							<li>
								<a class="dropdown-trigger" href="#!" data-target="dropdown1"
									>Profile<i class="material-icons right">arrow_drop_down</i>
								</a>
							</li>

						<!-- Else, show Log In and Register -->
						{% else %}
							<li><a href="{{ url_for('login') }}">Log In</a></li>
							<li><a href="{{ url_for('register') }}">Register</a></li>
						{% endif %}
					</ul>
				</div>
			</nav>

			<!-- Mobile Navigation -->
			<ul class="sidenav" id="mobile-demo">
				<li><h4 class="center-align tourney-text">MySwim</h4></li>

				<!-- Call get_sets function -->
				<li><a href="{{ url_for('get_sets') }}">Home</a></li>

				<!-- If logged in show below links -->
				{% if session.user %}
					<li>
						<a href="{{ url_for('profile', username=session['user']) }}">Profile</a>
					</li>
					<li><a href="{{ url_for('add_set') }}">New Swim</a></li>

					<!-- If admin, show Manage Content -->
					<!-- Call get_categories function -->
						{% if session.user|lower == "admin"|lower %}
							<li><a href="{{ url_for('get_categories') }}">Manage Content</a></li>
						{% endif %}	

					<li><a href="{{ url_for('logout') }}">Log Out</a></li>	

				<!-- Else, show Log In and Register -->
				{% else %}
					<li><a href="{{ url_for('login') }}">Log In</a></li>
					<li><a href="{{ url_for('register') }}">Register</a></li>

				{% endif %}
			</ul>
		</header>

		<!-- Flash Messages -->

		<section>
			{% with messages = get_flashed_messages() %} {% if messages %} {% for
			message in messages %}
			<div class="row flashes">
				<h4 class="center-align">{{ message }}</h4>
			</div>
			{% endfor %} {% endif %} {% endwith %}
		</section>

		<!-- Main container for content on all templates -->

		<main class="container">
			{% block content %} 
			{% endblock %}</main>

		<!-- Footer -->

		<footer class="page-footer mango">
			<div class="container">
				<div class="row">
					<div class="col l6 s12">
						<h5 class="white-text">Footer Content</h5>
						<p class="grey-text text-lighten-4">
							You can use rows and columns here to organize your footer content.
						</p>
					</div>
					<div class="col l4 offset-l2 s12">
						<h5 class="white-text">Links</h5>
						<ul>
							<li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
							<li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
							<li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
							<li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="footer-copyright">
				<div class="container">
					© 2021 Wingkelinks
					<a class="grey-text text-lighten-4 right" href="#!">More Links</a>
				</div>
			</div>
		</footer>

		<!-- JQuery -->
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
			integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		></script>
		<!-- JavaScript -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
		<script src="{{ url_for('static', filename='js/script.js') }}"></script>

		{% block scripts %} {% endblock %}
	</body>
</html>
