{% extends "base.html" %} {% block content %}

<div class="container">
	 <!-- Page Intro Card -->
	<div class="row mt3">
		<div class="col s12 m8 l8 offset-l2 offset-m2 card-panel brilliant-rose">
			<h2 class="white-text tourney-text fw5 center-align pa2-l f1-l f2-m f3">
				{{ username|title }}'s Profile
			</h2>
		</div>
	</div>

	<div class="divider ma3"></div>

	<!-- Link to add new set -->
	<div class="row">
		<div class="flow-text center-align col s12 m6">
			<p>Click <a href="{{ url_for('add_set') }}">here</a> to add a new set</p>
			<div class="add-item-button-container">
				<a
					href="{{ url_for('add_set') }}"
					class="btn-floating neon-green pulse"
					aria-label="add new set button"
				>
					<i class="fas fa-plus"></i>
				</a>
			</div>
		</div>
		<!-- Link to users favourite sets -->
		<div class="flow-text center-align col s12 m6">
			<p>
				Click
				<a href="{{ url_for('profile_favs', username=session['user']) }}"
					>here</a
				>
				to view favourite sets
			</p>
			<div class="add-item-button-container">
				<a
					href="{{ url_for('profile_favs', username=session['user']) }}"
					class="btn-floating winter-sky pulse"
					aria-label="add new set button"
				>
					<i class="fas fa-heart"></i>
				</a>
			</div>
		</div>
	</div>

	<div class="divider ma4"></div>

	<!-- Users Sets as Cards -->
	<div class="center-align">
		<h3 class="fw9 pb3 f2">{{ username|title }}'s Sets</h3>
	</div>

	{% for set in sets if session.user == set.created_by %}
	<div class="row">
		
		<div class="col s12 m8 l8 offset-l2 offset-m2">
			<div class="card large sticky action">
				<div class="card-image waves-effect waves-block waves-light">
					<img
						class="activator responsive-img"
						src="{{ url_for('static', filename='images/freestyle-unsplash.jpg') }}"
					/>
					<h4 class="ttu card-title white-text orange-pantone fw9">
						{{ set.category_name }}
					</h4>
				</div>
				<div class="card-content">
					<span class="card-title activator black-text"
						>{{ set.set_name|title }}<i class="material-icons right"
							>more_vert</i
						></span
					>
					<p class="black-text i">by: {{set.created_by|title}}</p>
				</div>
				<!-- CARD FRONT -->
				<div class="card-action">
					<!-- EDIT DELETE PRINT BUTTONS -->
					<!-- Tooltips on buttons in cards -->
					<div class="right-align">
						<a
							href="{{ url_for('edit_set', set_id=set._id) }}"
							class="
								btn-floating btn-small
								waves-effect waves-light
								azure
								tooltipped
							"
							data-position="left"
							data-tooltip="EDIT"
							><i class="material-icons">edit</i>
						</a>
						<a
							href="{{ url_for('delete_set', set_id=set._id) }}"
							class="
								btn-floating btn-small
								waves-effect waves-light
								winter-sky
								tooltipped
								modal-trigger
							"
							data-target="{{ set._id }}"
							data-position="top"
							data-tooltip="DELETE"
							><i class="material-icons">delete</i>
						</a>
						<a
							href="{{ url_for('print_set', set_id=set._id ) }}"
							class="
								btn-floating btn-small
								waves-effect waves-light
								neon-green
								tooltipped
							"
							data-position="top"
							data-tooltip="GO TO PRINT PAGE"
							><i class="material-icons">print</i>
						</a>
					</div>
				</div>
				<!-- CARD REVEAL -->
				<div class="card-reveal">
					<span class="card-title grey-text text-darken-4"
						><i class="material-icons right">close</i></span
					>

					<h5 class="center-align">{{ set.set_name|upper}}</h5>

					<ul class="collection with-header">
						<li class="collection-header"><h5>Warm Up</h5></li>
						<li class="collection-item">{{ set.warm_up }}</li>
					</ul>
					<ul class="collection with-header">
						<li class="collection-header"><h5>Pre Set</h5></li>
						{% for pre_set in set.pre_set %}
						<li class="collection-item">{{ pre_set }}</li>
						{% endfor %}
					</ul>
					<ul class="collection with-header">
						<li class="collection-header"><h5>Main Set</h5></li>
						{% for main_set in set.main_set %}
						<li class="collection-item">{{ main_set }}</li>
						{% endfor %}
					</ul>
					<ul class="collection with-header">
						<li class="collection-header"><h5>Cool Down</h5></li>
						<li class="collection-item">{{ set.cool_down }}</li>
					</ul>
					<ul class="collection with-header">
						<li class="collection-header"><h5>Total Distance</h5></li>
						<li class="collection-item">{{ set.total_km }}</li>
					</ul>
					<!-- EDIT DELETE PRINT BUTTONS -->
					<!-- Tooltips on buttons in cards -->
					<div class="right-align">
						<a
							href="{{ url_for('edit_set', set_id=set._id) }}"
							class="
								btn-floating btn-small
								waves-effect waves-light
								azure
								tooltipped
							"
							data-position="left"
							data-tooltip="EDIT"
							><i class="material-icons">edit</i>
						</a>
						<a
							href="{{ url_for('delete_set', set_id=set._id) }}"
							class="
								btn-floating btn-small
								waves-effect waves-light
								winter-sky
								tooltipped
								modal-trigger
							"
							data-target="{{ set._id }}"
							data-position="top"
							data-tooltip="DELETE"
							><i class="material-icons">delete</i>
						</a>
						<a
							href="{{ url_for('print_set', set_id=set._id ) }}"
							class="
								btn-floating btn-small
								waves-effect waves-light
								neon-green
								tooltipped
							"
							data-position="top"
							data-tooltip="GO TO PRINT PAGE"
							><i class="material-icons">print</i>
						</a>
					</div>
				</div>
			</div>
		</div>
		
		
	</div>

	<!-- Modal - Confirm Deletion -->

	<div id="{{ set._id }}" class="modal center-align">
		<div class="modal-content">
			<h5 class="winter-sky-text b">
				Do you really want to delete your set:
				<span class="azure-text">{{ set.set_name|upper }}</span>? This cannot be
				undone!
			</h5>
		</div>

		<div class="modal-footer">
			<div class="row">
				<div class="col s6 right-align">
					<a
						href="#!"
						class="btn modal-close azure b"
						aria-label="do not delete"
					>
						<span class="f5 fw8 pa1">No</span>
						<i class="fas fa-times-circle"></i>
					</a>
				</div>
				<div class="col s6 left-align">
					<a
						href="{{ url_for('delete_set', set_id=set._id) }}"
						class="btn modal-close winter-sky b"
						aria-label="confirm delete"
					>
						<span class="f5 fw8 pa1">Yes</span>
						<i class="fas fa-trash-alt"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
	{% endfor %}
</div>
{% endblock %}
