{% extends "base.html" %}
{% block content %}

<div class="container">
<!-- Return to profile button -->
<div class="row">
    <div class="col s6 mt4">          
        <a href="{{ url_for('profile', username=session['user']) }}"><button class="btn-floating btn neon-green pulse">
                <i class="fas fa-hand-point-left"></i></button></a>
        <p class="">Back to Profile</p>
    </div>
    <div class="col s12">
        <div class="card-panel-clear">    
                <h2 class="winter-sky-text tourney-text fw9 center-align">
                    {{ username|title }}'s Favourites
                </h2>   
        </div>
    </div>
    
</div>

<div class="divider ma3"></div>
        
   
<!-- Favourite sets as cards -->
<div class="row">
    {% for favourite in favourites %}
    <div class="col s12 m6 l4">
        <div class="card">
            <div class="card-content little-boy-blue">
                <span class="card-title center-align white-text fw9">
                    <h5>{{ favourite.set_name|upper}}</h5>
                </span>
            </div>
            <!-- View favourite set -->
            <div class="card-action center-align">
                <a href="{{ url_for('get_sets', set_id=favourite.set_id) }}" type="button" 
                    class="center-align btn orange-pantone"><i class="fas fa-eye"></i> VIEW
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<div class="divider ma3"></div>

</div>
{% endblock %}
