{% extends "base.html" %}
{% block content %}
	<div class="container">
		<h3 class="center-align">Dive Right In and Pick a Set</h3>

		{% for set in sets %}
		<div class="card medium sticky action">
			<div class="card-image waves-effect waves-block waves-light">
			  <img class="activator responsive-img" src="{{ url_for('static', filename='images/freestyle-unsplash.jpg') }}">
			  <h4 class="ttu card-title white-text orange-pantone fw9">{{ set.category_name }}</h4>
			</div>
			<div class="card-content">
			  <span class="card-title activator black-text">{{ set.set_name }}<i class="material-icons right">more_vert</i></span>
			  <p class="black-text i">by: {{set.created_by }}</p>
			</div>
			<!-- CARD FRONT -->
			<div class="card-action">
				<!-- FAVOURITE AND PRINT BUTTONS -->
				<!-- Tooltips on buttons in cards -->
				<div class="right-align">
					{% if session.user %}
					<form method="POST" action="{{ url_for('add_favourite', 		set_id=set._id, user=session['user']) }}" >
						<button type="submit"
						class="btn-floating btn-small waves-effect waves-light winter-sky tooltipped" data-position="left" data-tooltip="Favourite me!"><i class="material-icons">favorite</i>
						</button>						
						<a class="mr4 btn-floating btn-small waves-effect waves-light neon-green tooltipped" data-position="right" data-tooltip="Print me!"><i class="material-icons">print</i>
						</a>
					</form>
					{% endif %}
						
				<!-- EDIT DELETE BUTTONS FOR ADMIN -->
            	<!-- Tooltips on buttons in cards -->
					{% if session.user|lower == "admin" %}          
						<a href="{{ url_for('edit_set', set_id=set._id) }}" class="btn-floating btn-small waves-effect waves-light neon-green tooltipped" data-position="bottom" data-tooltip="EDIT"><i class="material-icons">edit</i>
						</a>
					{% endif %}     
				
					{% if session.user|lower == "admin" and not set.set_name == "Unassigned" %}
						<a href="{{ url_for('delete_set', set_id=set._id) }}" class="btn-floating btn-small waves-effect waves-light winter-sky  tooltipped" data-position="top" data-tooltip="DELETE"><i class="material-icons">delete</i>
						</a>
					{% endif %}              
			  	
				</div>				
			</div>
			<!-- CARD REVEAL -->
			<div class="card-reveal">
			  <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>			  
			  <table>
				<h5>{{ set.set_name }}</h5>
				<tbody>
				  <tr>
					<td>Warm Up</td>
					<td>{{ set.warm_up }}</td>
				  </tr>
				  <tr>
					<td>Pre Set</td>
					<td>{{ set.pre_set }}</td>
				  </tr>
				  <tr>
					<td>Main Set</td>
					<td>{{ set.main_set }}</td>
				  </tr>
				  <tr>
					<td>Cool Down</td>
					<td>{{ set.cool_down }}</td>
				  </tr>
				  <tr>
					<td>Total Distance</td>
					<td>{{ set.total_km }}</td>
				  </tr>
				</tbody>
			  </table>
			  <!-- FAVOURITE ADD PRINT BUTTONS -->
				<!-- Tooltips on buttons in cards -->
				<div class="right-align pt2">
					{% if session.user %}
						<form method="POST" action="{{ url_for('add_favourite', set_id=set._id, user=session['user']) }}" >
							<button type="submit"
							class="btn-floating btn-small waves-effect waves-light winter-sky tooltipped" data-position="left" data-tooltip="Favourite me!"><i class="material-icons">favorite</i>
							</button>						
							<a class="mr4 btn-floating btn-small waves-effect waves-light neon-green tooltipped" data-position="right" data-tooltip="Print me!"><i class="material-icons">print</i>
							</a>
						</form>
					{% endif %}

				<!-- EDIT DELETE BUTTONS FOR ADMIN -->
            	<!-- Tooltips on buttons in cards -->
					{% if session.user|lower == "admin" %}          
						<a href="{{ url_for('edit_set', set_id=set._id) }}" class="btn-floating btn-small waves-effect waves-light neon-green tooltipped" data-position="bottom" data-tooltip="EDIT"><i class="material-icons">edit</i>
						</a>
					{% endif %}     
				
					{% if session.user|lower == "admin" and not set.set_name == "Unassigned" %}
						<a href="{{ url_for('delete_set', set_id=set._id) }}" class="btn-floating btn-small waves-effect waves-light winter-sky  tooltipped" data-position="top" data-tooltip="DELETE"><i class="material-icons">delete</i>
						</a>
					{% endif %}              
			  	
				</div>
			</div>
		</div>	
		{% endfor %}
	</div>
{% endblock %}