{% extends "base.html" %}
{% block content %}
	<div class="container">

		<h3 class="center-align pa2">Dive Right In and Pick a Set</h3>

		<div class="ma5"></div>

		<div class="row card-panel">
			<form action="{{ url_for('search') }}" method="post" class="col s12 ">
				<div class="row valign-wrapper center-align">
					<div class="input-field col s12 m8">
						<i class="fas fa-search prefix neon-green-text text-darken-4"></i>
						<input type="text" name="query" id="query" minlength="3" class="validate" required>
						<label for="query">Search Sets</label>
					</div>
					<div class="col s12 m4">
						<a href="{{ url_for('get_sets') }}" class="winter-sky btn ">Reset</a>
						<button type="submit" class="azure btn ">
							<i class="fas fa-search left"></i> Search
						</button>
					</div>
				</div>
			</form>
		</div>

	<div class="ma5"></div>

		{% for set in sets %}
		<div class="card medium sticky action">
			<div class="card-image waves-effect waves-block waves-light">
			  <img class="activator responsive-img" src="{{ url_for('static', filename='images/freestyle-unsplash.jpg') }}">
			  <h4 class="ttu card-title white-text orange-pantone fw9">{{ set.category_name }}</h4>
			</div>
			<div class="card-content">
			  <span class="card-title activator black-text">{{ set.set_name }}<i class="material-icons right">more_vert</i></span>
			  <p class="black-text i">by: {{set.created_by }}</p>
			</div>
			<!-- CARD FRONT -->
			<div class="card-action">
				<!-- FAVOURITE AND PRINT BUTTONS -->
				<!-- Tooltips on buttons in cards -->
				<div id="admin-icons" class="">
					{% if session.user %}
						<form method="POST" action="{{ url_for('add_favourite', 		set_id=set._id, user=session['user']) }}" >
							<button type="submit"
							class="btn-floating btn-small waves-effect waves-light winter-sky tooltipped" data-position="left" data-tooltip="LOVE ME!"><i class="material-icons">favorite</i>
							</button>						
							<a href="{{ url_for('print_set', set_id=set._id ) }}"  class="mr4 btn-floating btn-small waves-effect waves-light neon-green tooltipped" data-position="right" data-tooltip="GO TO PRINT PAGE"><i class="material-icons">print</i>
							</a>
						</form>
					{% endif %}
						
				<!-- EDIT DELETE BUTTONS FOR ADMIN -->
            	<!-- Tooltips on buttons in cards -->
					{% if session.user|lower == "admin" %}          
						<a href="{{ url_for('edit_set', set_id=set._id) }}" class="btn-floating btn-small waves-effect waves-light azure tooltipped" data-position="bottom" data-tooltip="ADMIN EDIT"><i class="material-icons">edit</i>
						</a>
					{% endif %}     
				
					{% if session.user|lower == "admin" and not set.set_name == "Unassigned" %}
						<a href="{{ url_for('delete_set', set_id=set._id) }}" class="btn-floating btn-small waves-effect waves-light mango tooltipped" data-position="top" data-tooltip="ADMIN DELETE"><i class="material-icons">delete</i>
						</a>
					{% endif %}              
			  	
				</div>				
			</div>
			<!-- CARD REVEAL -->
			<div class="card-reveal">
				<span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>	
				
				<h5 class="center-align">{{ set.set_name|upper}}</h5>
				
				<ul class="collection with-header">
					<li class="collection-header"><h5>Warm Up</h5></li>
					<li class="collection-item">{{ set.warm_up }}</li>
				</ul>
				<ul class="collection with-header">
					<li class="collection-header"><h5>Pre Set</h5></li>
					{% for pre_set in set.pre_set %}
					<li class="collection-item">{{ pre_set }}</li>
					{% endfor %}
				</ul>
				<ul class="collection with-header">
					<li class="collection-header"><h5>Main Set</h5></li>
					{% for main_set in set.main_set %}
					<li class="collection-item">{{ main_set }}</li>
					{% endfor %}
				</ul>
				<ul class="collection with-header">
					<li class="collection-header"><h5>Cool Down</h5></li>
					<li class="collection-item">{{ set.cool_down }}</li>
				</ul>
				<ul class="collection with-header">
					<li class="collection-header"><h5>Total Distance</h5></li>
					<li class="collection-item">{{ set.total_km }}</li>
				</ul>

			  <!-- FAVOURITE ADD PRINT BUTTONS -->
				<!-- Tooltips on buttons in cards -->
				<div id="admin-icons" class="pt2">
					{% if session.user %}
						<form method="POST" action="{{ url_for('add_favourite', set_id=set._id, user=session['user']) }}" >
							<button type="submit"
							class="btn-floating btn-small waves-effect waves-light winter-sky tooltipped" data-position="left" data-tooltip="LOVE ME!"><i class="material-icons">favorite</i>
							</button>						
							<a href="{{ url_for('print_set', set_id=set._id ) }}" class="mr4 btn-floating btn-small waves-effect waves-light neon-green tooltipped" data-position="right" data-tooltip="GO TO PRINT PAGE"><i class="material-icons">print</i>
							</a>
						</form>
					{% endif %}

				<!-- EDIT DELETE BUTTONS FOR ADMIN -->
            	<!-- Tooltips on buttons in cards -->
					{% if session.user|lower == "admin" %}          
						<a href="{{ url_for('edit_set', set_id=set._id) }}" class="btn-floating btn-small waves-effect waves-light azure tooltipped" data-position="bottom" data-tooltip="ADMIN EDIT"><i class="material-icons">edit</i>
						</a>
					{% endif %}     
				
					{% if session.user|lower == "admin" and not set.set_name == "Unassigned" %}
						<a href="{{ url_for('delete_set', set_id=set._id) }}" class="btn-floating btn-small waves-effect waves-light mango tooltipped" data-position="top" data-tooltip="ADMIN DELETE"><i class="material-icons">delete</i>
						</a>
					{% endif %}              
			  	
				</div>
			</div>
		</div>	
		{% endfor %}
	</div>
{% endblock %}