{% extends "base.html" %}
{% block content %}

		{% for set in sets %} 	
			{{ set.set_name }}<br />
			{{ set.category_name }}<br />
			{{ set.warm_up }}<br />
			{{ set.pre_set }}<br />
			{{ set.main_set }}<br />
			{{ set.cool_down }}<br />
			{{ set.total_km }}<br />
		{% endfor %}

		<ul class="collapsible popout">
			<li>
			  <div class="active collapsible-header turquoise-blue"><i class="material-icons">expand_circle_down</i>Fast Freestyle</div>
			  <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
			</li>
			<li>
			  <div class="collapsible-header st-patricks-blue white-text"><i class="material-icons">expand_circle_down</i>Threshold Thrasher</div>
			  <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
			</li>
			<li>
			  <div class="collapsible-header turquoise-blue"><i class="material-icons">expand_circle_down</i>Killer Cardio</div>
			  <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
			</li>
			<li>
				<div class="collapsible-header st-patricks-blue white-text"><i class="material-icons">expand_circle_down</i>Aerobic Power</div>
				<div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
			  </li>
		  </ul>

{% endblock %}		
