{% extends "base.html" %}
{% block content %}
		<h3 class="center-align">Dive Right In and Pick a Set</h3>
		  <!-- Card -->
		  <div class="row">
			{% for set in sets %}
			<div class="col s12 m6">
			  <div class="card">
				<div class="card-image">
				  <img src="static/images/freestyle-unsplash.jpg">
				  <span class="card-title ttu tracked">{{ set.category_name }}</span>	  
				</div>
				<div class="card-content">
					<h5>{{ set.set_name }}</h5>
					<p>{{ set.warm_up }}</p>
					<p>{{ set.pre_set }}</p>
					<p>{{ set.main_set }}</p>
					<p>{{ set.cool_down }}</p>
					<p>{{ set.total_km }}</p>
					<p><em>by: {{set.created_by }}</em></p>
				</div>

				<!-- EDIT DELETE BUTTONS -->
				<!-- Tooltips on buttons in cards -->
				<div class="right-align pa2">
					<a href="{{ url_for('edit_set', set_id=set._id) }}" class="btn-floating waves-effect waves-light purple tooltipped" data-position="left" data-tooltip="EDIT"><i class="material-icons">edit</i>
					</a>
					<a class="btn-floating waves-effect waves-light red tooltipped" data-position="top" data-tooltip="DELETE"><i class="material-icons">delete</i>
					</a>
				</div>

			  </div>
			</div>
			{% endfor %}
		  </div>
					
{% endblock %}		
